:root {
    --drop-height: 50px;
}

.CaretDown {
    
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(var(--drop-height)) scale(1, 0.7);
    }
}