.email-btn {
    --button-default-height: 46px;
    --button-default-font-size: 10px;
    --button-default-border-radius: 4px;
    --button-horizontal-padding: 16px;
    --button-raise-level: 7px;
    --button-hover-pressure: 4;
    --transform-speed: 0.15s;
    --button-primary-color: #ebebeb;
    --button-primary-color-dark: #3A3B3C;
    --button-primary-color-light: #000000;
    --button-primary-color-hover: #ebebeb;
    --button-primary-color-active: #ebebeb;
    --button-primary-border: 3px solid #3A3B3C;
}