.wrapper {
    display:flex;
    overflow-x: auto;
}


.wrapper .section {

    border-radius:20px;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items:center;
}




