.projects-container h1{
    color: white;
    font-size:35px
}

.projects-container h2{
    color: white;
    font-size: 24px
}

.projects-container h3{
    color: white;
    font-size: 20px
}

.projects-container a{
    color: #B935DD;
}
