.aws-btn {
    --button-default-height: 46px;
    --button-default-font-size: 150%;
    --button-default-border-radius: 4px;
    --button-horizontal-padding: 16px;
    --button-raise-level: 10px;
    --button-hover-pressure: 5;
    --transform-speed: 0.15s;
    --button-secondary-color: #FFFFFF;
    --button-secondary-color-dark: #ff9300;
    --button-secondary-color-light: #3A3B3C;
    --button-secondary-color-hover: #FFFFFF;
    --button-secondary-color-active: #FFFFFF;
    --button-secondary-border: 3px solid #ffb877;
}