.wrapper {
    display:flex;
    overflow-x: auto;
    padding-bottom: 10px;
}


.wrapper .section {
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items:center;
}




