::-webkit-scrollbar {
display: none;
}

/*
::-webkit-scrollbar-corner{
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #A67DB2;
     opacity: .5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {  
    opacity: 1;
}*/
    

html {
    scroll-behavior: smooth;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);

    }

}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1

    }

}

@keyframes fade-out {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0

    }

}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

    }

}

@media (prefers-reduced-motion: no-preference) {
    .slide-left {
        animation: slide-in 1s 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .fade-in {
        animation: fade-in 2s 1;
    }
}
@media (prefers-reduced-motion: no-preference) {
    .fade-out {
        animation: fade-out 2s 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .spin {
        animation: spin 1s infinite;
    }
}